$font-family: 'Work Sans', sans-serif;
$color-card-bg: #FAFAF9;
$color-primary-text: #1C1917;
$color-secondary-text: #A8A29E;
$color-accent-pink: #EC4899;
$color-text-white: #F5F5F4;
$color-text-gray: #E7E5E4;
$color-primary-bg: #FFFFFF;
$color-secondary-bg:#1C1917;
$font-size-xl: 51px; 
