@use "../common/variables" as vars;
@use "../common/mixins" as mx;


footer {
  color: vars.$color-primary-text;

  .nav_footer {
    @include mx.flex(row, space-between, flex-start, 32px);
    flex-wrap: wrap;
    padding: 48px 32px;
  
    .nav_footer_left {
      display: flex;
      flex-direction: column;
      gap: 24px;

      &--img {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          width: 32px;
          height: 32px;
        }

        span {
          font-weight: 600;
          font-size: 14px;
        }
      }

      &--text span {
        font-size: 18px;
        line-height: 1.4;
      }
    }

    .nav_footer_right {
      display: flex;
      gap: 100px;
      line-height: 1.5;
      font-size: 14px;

      .nav_footer_group1 {
        display: flex;
        gap: 100px;
      }

      .nav_footer_group2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      .nav_footer_col {
        display: flex;
        flex-direction: column;
        gap: 16px;

        strong {
          font-weight: 600;
          color: vars.$color-primary-text;
        }

        a {
          text-decoration: none;
          color: vars.$color-secondary-text;
          font-size: 14px;
          transition: color 0.3s;

          &:hover {
            color: vars.$color-accent-pink;
          }
        }
      }

    }
  }

  .footer__divider {
    height: 1px;
    background: vars.$color-text-gray;
    margin: 0;
  }

  .coperight {
    @include mx.flex(row, space-between, center);
    padding: 32px 32px 48px;

    .coperight_left span {
      font-size: 12px;
      color: vars.$color-secondary-text;
    }

    .coperight_right {
      display: flex;
      gap: 16px;

      a {
        text-decoration: none;
        color: vars.$color-primary-text;
        font-size: 14px;

        &:hover {
          color: vars.$color-accent-pink;
        }
      }
    }
  }
}

    @media (max-width: 1024px) {
       footer .nav_footer_right{
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
      }

          .nav_footer_group1 {
             flex-direction: row;
             gap: 60px;
           }

          .nav_footer_group2 {
             margin-left: 0; 
           }
    }

    @media (max-width: 695px) {
       footer .nav_footer_right .nav_footer_group1 {
          gap: 32px;
        }
    }

    @media (max-width: 650px) {
       footer .nav_footer .nav_footer_left {
          padding-right: 40px;
        }
    }

    @media(max-width: 635px) {
         footer .nav_footer .nav_footer_right {
            gap: 40px;
            margin-top: 56px;
         }

    }
        
    @media(max-width: 420px) {
         footer .coperight .coperight_right a { 
            font-size: 10px;
         }

        footer .nav_footer .nav_footer_right .nav_footer_group1 {
            gap: 40px;
          }

        footer .coperight {
            padding: 24px 0 32px 0;
        }
    }
