@use "../common/variables" as vars;
@use "../common/mixins" as mx;


.hero {
    background-color: vars.$color-secondary-bg;

   
  &__container {
    @include mx.flex(row, space-between, center);
    padding: 45px 40px 64px;
}
  

  &__text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }

  &__title {
    font-size: 67px;
    font-weight: 700;
    color: vars.$color-text-white;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 400;
    color: vars.$color-text-gray;
    margin-bottom: 40px;
    line-height: 1.3;
  }


  &__image  {
    height: 704px;
    border-radius: 16px;
    overflow: hidden;
    justify-content: center; 
    display: flex;
    align-items: center;

     img {
      width: 100%;        
      height: 100%;       
      object-fit: cover;  
      object-position: center;
    }
  }
}


 @media (max-width: 860px) {
  .hero__container {
    flex-direction: column; 
    align-items: center;    
    text-align: center;     
    gap: 32px;             
  }
  .hero__text {
    align-items: center;
  }
  .hero__image {
    height: 704px;
  }
 }


